body {
  width: 100vw;
  height: 100vh;
  background-image: 
    conic-gradient(at 10% 50%,
  rgb(236, 204, 236), 
  rgb(240, 236, 186));
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  border-radius: 25px;
  background-color: white;
}