@font-face {
    font-family: "Nunito";
    src: local("Nunito"),
    url("/resources/js/Typeface/Nunito/Nunito-VariableFont_wght.ttf");
}

body {
  background: linear-gradient(90deg,
  #f8e2ff,
  #d4d9f7) !important;
}

.container {
  font-family: "Nunito";
  margin-top: 3rem auto;
  width: 90%;
  padding: 1rem 1.5rem;
  border-radius: 25px;
  background-color: white;
  box-shadow: .3rem .3rem 8px #b7b5c9;
}

hr {
  border-color: rgba(28, 4, 59, 0.219);
  border-width: 1px;
}

/* Post text field css */
.post-form {
  display: flex;
  align-items: flex-start;
  padding: 1rem;
  border-radius: 25px;
  margin-bottom: 1rem;
  
}

.avatar {
  width: 60px;
  height: 60px;
  margin-right: 1rem;
  border-radius: 50%;
  object-fit: cover;
}

.post-input-section {
  flex: 1;
}

textarea {
  background-color: white;
  border-top: .2rem solid #5e4ae354;
  border-left: .2rem solid #5e4ae354;
  font-size: 1rem;
  width: 100%;
  padding: 0.8rem 2rem;
  border-radius: 12px;
  resize: none;
  min-height: 50px;
  margin-bottom: 0.5rem;
  box-shadow: .3rem .3rem 8px #b7b5c9;
}

textarea:focus {
  outline: none;
}

.post-actions {
  display: flex;
  float: right;
  align-items: center;
  gap: 0.5rem;
}

.post-actions input[type="file"] {
  font-family: "Nunito";
  font-size: 0.9rem;
}

.post-actions input:hover{
  cursor: pointer;
}

.post-actions button {
  background-color: #5e4ae3;
  border: solid #5e4ae3;
  color: #fbf3ff;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  cursor: pointer;
}

.post-actions button:hover {
  background-color: #ffffff;
  color: #5e4ae3;
  transition: .2s;
}

.custom-upload-btn {
  background-color: #F8E2FF;
  border: solid #5e4ae3;
  color: #1E1E24;
  padding: 8px 18px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  margin-right: 12px;
  display: flex;
  align-items: center;
  gap: .5rem;
}

.custom-upload-btn:hover {
  background-color: #F8E2FF;
  border: solid #F8E2FF;
  transition: .2s;
}

.file-name {
  color: #444;
  font-size: 0.98rem;
  margin-right: 16px;
}
