@font-face {
    font-family: "Nunito";
    src: local("Nunito"),
    url("/resources/js/Typeface/Nunito/Nunito-VariableFont_wght.ttf");
}

.blog-container {
  margin: 3rem auto;
  /* margin-left: auto;
  margin-right: auto; */
  width: 90%;
  max-width: 700px;
  padding: 0;
  background: white;
  border-radius: 1rem;
  box-shadow: .3rem .3rem 8px #b7b5c9;
  overflow: hidden;
  font-family: "Nunito";
  color: #333;
}

.blog-image {
  width: 100%;
  height: 500px;
  margin-bottom: 0;
  object-fit: cover;
  max-height: 300;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.blog-content, .comments-container {
  padding: 2rem 2.5rem 1.5rem 2.5rem;
}

.post-title {
  font-size: 2rem;
  font-weight: 700; /* might change it to bold instead */
  margin: 0 0 0.5rem 0;
}

.edit-btn {
  color: #222;
  border: none; 
  border-radius: .3rem;
  padding: .5rem 1rem;
  font-weight: 500;
  cursor: pointer;
}

.edit-btn:hover {
  background-color: #6a1b9a;
  color: #fbf3ff;
  box-shadow: 0 1px 4px rgba(0,0,0,0.04);
  transition: 0.2s;
}

.delete-btn {
  color: #dc2626;
  border: none; 
  border-radius: .3rem;
  padding: .5rem 1rem;
  font-weight: 500;
  cursor: pointer;
}

.delete-btn:hover {
  background-color: #dc2626;
  color: #fee2e2;
  box-shadow: 0 1px 4px rgba(0,0,0,0.04);
  transition: 0.2s;
}

.author-section {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  margin-bottom: 1.2rem;
}

.author-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.author-name {
  font-size: 1rem;
  font-weight: 700;
  margin: 0;
}

.post-date {
  font-size: 0.90rem;
  color: #777;
  margin: 0;
}
/* Edit post ui */
.edit-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.edit-title, .edit-content {
  font-size: 1rem;
  margin-bottom: 1rem;
  padding: .6rem;
  border-radius: .3rem;
  border: .1rem solid #ccc;
}

.edit-content {
  background-color: rgb(252, 251, 231);
}

.edit-btns {
  display: flex;
  gap: 1rem;
}

.save-btn, .cancel-btn {
  border: none;
  border-radius: .3rem;
  padding: .5rem 1rem;
  cursor: pointer;
  font-weight: bold;
}

.save-btn {
  border: solid #6a1b9a;
  background-color: #6a1b9a;
  color: #fbf3ff;
}

.cancel-btn {
  background-color: #f3f4f6;
}

.save-btn:hover {
  background-color: #ffffff;
  color: #6a1b9a;
  transition: .2s;
}

.cancel-btn:hover {
  background-color: rgba(135, 107, 158, 0.24);
  transition: .2s;
}

.post-body {
  font-size: 1.13rem;
  line-height: 1.7;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}

.engagement-footer {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  border-top: 1px solid #eee;
  padding-top: 1rem;
  display: flex;
  gap: 1rem;
  font-size: 0.95rem;
  color: #666;
  align-items: center;
}

.engagement-footer span {
  font-size: 1rem;
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.like-icon {
  stroke: #e11d48;
  stroke-width: 50px;
}
/* Comments ui */
.comments-container {
  padding-top: 0;
}

.comments-header {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.comment-form {
  margin-bottom: 1rem;
  display: flex;
  gap: 1rem;
}

.comment-field[type=text] {
  border: none;
  border-bottom: #6a1b9a solid;
  border-radius: .3rem;
  padding: 1rem;
  flex: 1;
}

.comment-field[type=text]:focus {
  outline: none;
}

.submit-comment {
  font-weight: 500;
  background-color: #6a1b9a;
  color: #fbf3ff;
  border: solid #6a1b9a;
  border-radius: .3rem;
  padding: .1rem 1rem;
  cursor: pointer;
}

.submit-comment:hover {
  background-color: #fbf3ff;
  color: #6a1b9a;
  transition: .2s;
}

.comment-section {

}

.comment-content {
  background-color: white;
  padding: .5rem 1rem;
  margin: 2rem 0;
  border-bottom: solid #691b9a54;
  border-radius: .5rem;
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  box-shadow: 0 1px 4px rgba(0,0,0,0.03);
}

.comment-avatar {
  width: 2.3rem;
  height: 2.3rem;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 1px 4px rgba(0,0,0,0.04);
}

.comment-top {
  font-size: 1rem;
  display: flex;
  align-items: center;
  gap: .5rem;
}

.comment-name {
  font-weight: 600;
}